
  /* http://www.quirksmode.org/css/forms.html */
  #inputs label, #inputs input, #inputs textarea, #inputs select {
  display: block;
  width: 150px;
  float: left;
  margin-bottom: 20px;
  }

  #inputs label {
  text-align: right;
  width: 75px;
  padding-right: 20px;
  }

  #inputs br {
  clear: left;
  }

